body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: #f4f4f4;
  }

.container-1{
    padding-bottom: 40px;
    padding-left: 30px;
}

img{
    width: 5.9em;
    height: 4.3em;
}
      
#name {
  color: black;
  font-size: 32px;
  padding-bottom: 20px;
}

.container-2{
  display: flex;
  flex-wrap: wrap;
  gap: 35px;
}

h1{
  color: black;
  font-size: 32px;
  text-align: center;   
}
      
.location-section {
  /* flex-direction: column; */
  margin-bottom: 20px;
  background-color: #fff;
  padding: 25px;
  border-radius: 10px;
}
      
.location-title {
  font-weight: bold;
  font-size: 1.2em;
  margin-bottom: 10px;
}
      
.site-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}
      
.site-button {
  text-size-adjust: 40px;
  padding: 10px 20px;
  background-color: #5525B5;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
      
.site-button:hover {
  background-color: #1c60b3;
}

button {
  margin-top: 20px;
}
